img {
  width: 40%;
  height: 40%;
  border-radius: 4px;
  float: left;
  @media (min-width: 768px) {
    max-width: 220px;
    max-height: 158px;
  }
}

.cardContainer {
  top: 319px;
  left: 44px;
  width: 336px;
  height: 244px;
  background: #fff no-repeat padding-box;
  border: 1px solid #c8cfd6;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  @media (min-width: 768px) {
    width: 90%;
    height: 25vh;
    display: block;
  }
}

.cardContainerChecked {
  width: 336px;
  height: 244px;
  background: #f0f8ff no-repeat padding-box;
  border: 1px solid #004bf6;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  @media (min-width: 768px) {
    width: 90%;
    height: 25vh;
    display: block;
  }
}

.infoContainer {
  max-width: -webkit-fill-available;
}

.infoHeader {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}

.infoBody {
  display: flex;
  padding: 0px 8px;
  flex-wrap: wrap;
  max-width: fit-content;
  height: 30%;
  & p {
    margin-top: 12px;
    margin-bottom: 2px;
  }
  @media (min-width: 768px) {
    flex-direction: column;
  }
}

hr {
  @media (min-width: 768px) {
    display: none;
  }
}

.infoFooter {
  margin-top: 8px;
  @media (min-width: 768px) {
    margin-left: 16px;
  }
}

.carInfo {
  @media (min-width: 768px) {
    margin-left: 8px;
  }
}

.divider {
  color: gray;
}

.status {
  border: 1px solid #004bf6;
  border-radius: 4px;
  margin-left: 8px;
  width: 156px;
  height: 20px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:before {
  background-color: purple;
}

.price {
  border: 1px solid #c8cfd6;
  color: #004bf6;
  border-radius: 4px;
  width: 156px;
  height: 20px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}

.deskInfo {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-flow: column;
    float: right;
  }
}

.mobInfo {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}

.editContainer {
  display: flex;
  justify-content: end;
  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

.editBtn {
  color: #004bf6;
  cursor: pointer;
  border: 1px solid #004bf6;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  padding: 8px 32px;
}
